* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(18, 106, 206), red);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

main {
    color: white;
    width: 800px;
}

header {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.title-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-bottom: 10px;
}

.type-area {
    height: 30px;
    width: 200px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 5px 20px 0;
    text-align: center;
    color: rgb(18, 106, 206);
}

.button {
    font-size: 20px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 10px 10px 20px 0;
    text-align: center;
    color: red;
}

header, footer {
    color: white;
    display: flex;
    align-items: center;
    height: 6rem;
}

footer {
    position: relative;
    flex-direction: column;
    margin-top: auto;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 414px) {
    header {
        position: sticky;
        top: 40px;
        font-size: 30px;
    }

    .form-div {
        display: flex;
        flex-wrap: flex;
        margin: 0 auto;
    }
}
