* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(18, 106, 206), red);
    background: webkit-linear-gradient(45deg, rgb(18, 106, 206), red);
    background: moz-linear-gradient(45deg, rgb(18, 106, 206), red);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.intro-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}    

.introduction {
    width: 400px;
}

.intro-title {
    margin: 30px 0 12px 0;
    font-size: 35px;
}

.intro-text {
    font-size: 20px;
    width: 100%;
    display: inline;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.story-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 50px 0;
    color: white;
}

main {
    flex-grow: 1;
    color: white;
    width: 800px;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.title-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-bottom: 10px;
}

.story-title-font {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 30px;
}

.form-div {
    margin: 0 0 -10px 0;
}

.type-area {
    height: 30px;
    width: 200px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 5px 10px 0;
    text-align: center;
    color: rgb(18, 106, 206);
}

.button {
    font-size: 20px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 0 0 20px 0;
    text-align: center;
    color: red;
}

.story-title {
    display: none;
}

.story-list {
    list-style-type: none;
}

header, footer {
    color: white;
    display: flex;
    align-items: center;
    height: 6rem;
}

.baby-groot {
    position: relative;
    margin: 0 auto;
    bottom: 30px;
}

.baby-groot-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    right: 30px;
}

.baby-groot {
    margin: 0 -40px 0 0;
}

.speech-bubble {
    margin: 0 0 0 -40px;
    filter: brightness(0) invert(1);
}

.image-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.speech-bubble-text {
    position: absolute;
    top: 55px;
    right: 30px;
    font-size: 22px;
    font-weight: bold;
}

footer {
    font-size: 13x;
    position: relative;
    flex-direction: column;
    margin-top: auto;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 414px) {
    header {
        top: 20px;
        font-size: 30px;
    }

    .intro-title {
        font-size: 20px;
    }

    .introduction {
        width: 300px;
    }

    .baby-groot-wrapper {
        width: 100%;
    }

    .form-div {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .button {
        margin-bottom: -30px;
    }
}